        body {
            font-family: Arial, sans-serif;
            background-color: #121212;
            color: #e0e0e0;
            margin: 0;
            padding: 20px;
        }
        .dashboard {
            width: 90%;
            height: 75vh;
            margin: auto;
            background: #1e1e1e;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
            overflow-y: auto;
        }
        .name {
            text-align: center;
            color: #ffb803;
            font-size:small;
        }
        .categories {
            width: 90%;
            margin: auto;
            display: flex;
            justify-content: space-between;
            font-weight: bold;
            margin-bottom: 10px;
            padding: 20px;
            border-radius: 8px;
            background: #1e1e1e;
        }
        .categories span {
            color: #ff8c00;
            width: 20%;
            text-align: center;
        }
        .data-row {
            display: flex;
            margin: auto;
            justify-content: space-between;
            margin: 10px 0;
            padding: 10px 0;
            border-top: 1px solid #444;
        }
        .data-row span {
            margin: 0 20px;
            color: #e0e0e0;
            width: 20%;
            text-align: center;
        }
.chart-container {
    width: 80%;
    margin: 0 auto;
}
